{% extends "layout.html" %}
{% block title %}home{% endblock %}


{% block content %} 
    
    <main class="my-8">
        <div class="container px-6 mx-auto">
            <h3 class="text-2xl font-medium text-gray-700">Python Courses</h3>
            <span class="mt-3 text-sm text-gray-500">200+ Courses</span>
            <div class="grid grid-cols-1 gap-6 mt-6 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
                
                <div class="w-full max-w-sm mx-auto overflow-hidden rounded-md shadow-md">
                    <img class="w-full h-56 bg-cover " src="{{ url_for('static', filename='images/python.jpg') }}"/>
                    
                    <div class="flex items-center justify-between px-5 py-3">
                        <p class="text-gray-700 ">Python Programming</p>
                        <p class="mt-2 text-gray-500">$125</p>
                        <button class="px-3 py-2 text-blue-500 bg-gray-100 rounded ">>></button>
                    </div>
                </div>

                <div class="w-full max-w-sm mx-auto overflow-hidden rounded-md shadow-md">
                        <img class="w-full h-56 bg-cover " src="{{ url_for('static', filename='images/flask.png') }}"/>
                        
                        <div class="flex items-center justify-between px-5 py-3">
                            <p class="text-gray-700 ">Python and Flask</p>
                            <p class="mt-2 text-gray-500">$125</p>
                            <button class="px-3 py-2 text-blue-500 bg-gray-100 rounded ">>></button>
                        </div>
                </div>

                <div class="w-full max-w-sm mx-auto overflow-hidden rounded-md shadow-md">
                    <img class="w-full h-56 bg-cover" src="{{ url_for('static', filename='images/vueflask.png') }}"/>
                    
                    <div class="flex items-center justify-between px-5 py-3">
                        <p class="text-gray-700 ">Vue Js and Flask</p>
                        <p class="mt-2 text-gray-500">$125</p>
                        <button class="px-3 py-2 text-blue-500 bg-gray-100 rounded ">>></button>
                    </div>
                </div>

                <div class="w-full max-w-sm mx-auto overflow-hidden rounded-md shadow-md">
                    <img class="w-full h-56 bg-cover" src="{{ url_for('static', filename='images/apis.png') }}"/>
                    
                    <div class="flex items-center justify-between px-5 py-3">
                        <p class="text-gray-700 ">Creating APIs with Flask</p>
                        <!-- <p class="mt-2 text-gray-500">$125</p> -->
                        <button class="px-3 py-2 text-blue-500 bg-gray-100 rounded ">>></button>
                    </div>
                </div>
                
                
             
            </div>
            <div class="flex justify-center">
                <div class="flex mt-8 rounded-md">
                    <a href="#" class="px-4 py-2 ml-0 leading-tight text-blue-700 bg-white border border-r-0 border-gray-200 rounded-l hover:bg-blue-500 hover:text-white"><span>Previous</a></a>
                    <a href="#" class="px-4 py-2 leading-tight text-blue-700 bg-white border border-r-0 border-gray-200 hover:bg-blue-500 hover:text-white"><span>1</span></a>
                    <a href="#" class="px-4 py-2 leading-tight text-blue-700 bg-white border border-r-0 border-gray-200 hover:bg-blue-500 hover:text-white"><span>2</span></a>
                    <a href="#" class="px-4 py-2 leading-tight text-blue-700 bg-white border border-r-0 border-gray-200 hover:bg-blue-500 hover:text-white"><span>3</span></a>
                    <a href="#" class="px-4 py-2 leading-tight text-blue-700 bg-white border border-gray-200 rounded-r hover:bg-blue-500 hover:text-white"><span>Next</span></a>
                </div>
            </div>
        </div>
    </main>

    <footer class="bg-gray-200">
{% endblock %}