<!DOCTYPE html>
<html>
<head>
	<title></title>
	
	 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='tailwind.min.css') }}">
   <!-- <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet"> -->
</head>
<body>

<!-- Area for allert errors -->
<div class=" msg  w-full text-white bg-red-500">
        <div class="container flex items-center justify-between px-6 py-4 mx-auto">
            <div class="flex">
                <svg viewBox="0 0 40 40" class="w-6 h-6 fill-current">
                    <path d="M20 3.33331C10.8 3.33331 3.33337 10.8 3.33337 20C3.33337 29.2 10.8 36.6666 20 36.6666C29.2 36.6666 36.6667 29.2 36.6667 20C36.6667 10.8 29.2 3.33331 20 3.33331ZM21.6667 28.3333H18.3334V25H21.6667V28.3333ZM21.6667 21.6666H18.3334V11.6666H21.6667V21.6666Z"></path>
                </svg>

                <p class="mx-3">{{ msg }}</p>
            </div>

            <button class="p-1 transition-colors duration-200 transform rounded-md hover:bg-opacity-25 hover:bg-gray-600 focus:outline-none">
                <svg class="w-5 h-5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6 18L18 6M6 6L18 18" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </button>
        </div>
    </div>

<div  class="container mx-auto flex items-center justify-center max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
      
    <div class="mt-10" style="width: 400px;">
        
      <form class="shadow-lg h-auto " action="{{ url_for('register') }}" method="POST" autocomplete="off">
        
        <!--form area-->
        <div  class=" shadow-xl p-10 bg-white rounded bg-white rounded-t-lg ">
          
            <h1 class="text-2xl font-black mb-4">Register</h1>
            
              <div class="mb-4 relative">
                  <input class="input border border-gray-200 appearance-none rounded w-full px-3 py-3 pt-5 pb-2 focus focus:border-indigo-600 focus:outline-none active:outline-none active:border-indigo-600"  type="text" autofocus name="email" placeholder ="Enter email" >
              </div>
              <div class="mb-4 relative">
                  <input class="input border border-gray-200 appearance-none rounded w-full px-3 py-3 pt-5 pb-2 focus focus:border-indigo-600 focus:outline-none active:outline-none active:border-indigo-600"  type="text" autofocus name="username" placeholder ="Enter user name">
              </div>
              <div class="mb-4 relative">
                <input class="input border border-gray-200 appearance-none rounded w-full px-3 py-3 pt-5 pb-2 focus focus:border-indigo-600 focus:outline-none active:outline-none active:border-indigo-600"  type="password" autofocus name="password" placeholder ="Enter Password">
            </div>
          
        </div>
       
        <!--save button-->
                      <button  type="submit" class="py-3 px-4 focus:outline-none text-white bg-indigo-600 hover:bg-indigo-400 text-center w-full rounded mr-2 mb-0" >Register</button>

            
        </form>
        <p class="text-gray-600 mt-2">Already have an Account? <span class="text-red-600 hover:text-red-800 font-bold"><a href="{{ url_for('register') }}">Login here</a></span></p>
    </div>
  </div>

</body>
</html>